In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('vehicles_us.csv')

In [4]:
df['model_year'] = df['model_year'].fillna(df.groupby(['model'])['model_year'].transform('median'))

In [5]:
df['cylinders'] = df['cylinders'].fillna(df.groupby(['model'])['cylinders'].transform('median'))

In [6]:
df['odometer'] = df['odometer'].fillna(df.groupby(['model_year'])['odometer'].transform('mean'))

In [7]:
df['car_age'] = df['car_age'].fillna(df.groupby(['model_year'])['car_age'].transform('mean'))

In [9]:
df.to_csv('vehicles_us.csv', index=False)

In [10]:
print(df)

       price  model_year              model  condition  cylinders    fuel  \
0      14498      2014.0           acura tl  excellent        6.0     gas
1      14498      2014.0           acura tl  excellent        6.0     gas
2      12995      2014.0           acura tl  excellent        6.0     gas
3      12995      2014.0           acura tl  excellent        6.0     gas
4      12500      2013.0           acura tl       good        6.0     gas
...      ...         ...                ...        ...        ...     ...
51520   3750      2013.0  volkswagen passat       good        4.0     gas
51521   2995      2013.0  volkswagen passat  excellent        4.0     gas
51522   1500      2013.0  volkswagen passat       good        6.0  diesel
51523   1300      2013.0  volkswagen passat       fair        6.0     gas
51524   1000      2013.0  volkswagen passat       fair        4.0     gas

            odometer transmission   type paint_color  is_4wd date_posted  \
0       84152.000000    automatic  sedan       black     NaN  12/14/2018
1       93648.703319    automatic  sedan       black     NaN    5/8/2018
2      108850.000000    automatic  sedan      silver     NaN   3/23/2019
3      108850.000000    automatic  sedan      silver     NaN   3/23/2019
4       94000.000000    automatic  sedan        grey     1.0    5/7/2018
...              ...          ...    ...         ...     ...         ...
51520  102825.315489    automatic  wagon         NaN     NaN   6/13/2018
51521     130.000000    automatic  sedan        grey     NaN   5/11/2018
51522  170000.000000    automatic  sedan      silver     NaN   6/19/2018
51523  102825.315489    automatic  sedan        blue     NaN   6/30/2018
51524  152000.000000    automatic  sedan        blue     NaN   6/18/2018

       days_listed manufacturer  car_age
0               38        acura      9.0
1               43        acura      9.0
2               30        acura      9.0
3               20        acura      9.0
4               19        acura     10.0
...            ...          ...      ...
51520           26   volkswagen     10.0
51521           22   volkswagen     10.0
51522            8   volkswagen     10.0
51523           22   volkswagen     10.0
51524           22   volkswagen     10.0

[51525 rows x 15 columns]