In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('vehicles_us.csv')

In [22]:
df_sorted = df['model'].sort_values()

In [23]:
df_sorted.unique()

array(['acura tl', 'bmw x5', 'buick enclave', 'cadillac escalade',
       'chevrolet camaro', 'chevrolet camaro lt coupe 2d',
       'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze',
       'chevrolet equinox', 'chevrolet impala', 'chevrolet malibu',
       'chevrolet silverado', 'chevrolet silverado 1500',
       'chevrolet silverado 1500 crew', 'chevrolet silverado 2500hd',
       'chevrolet silverado 3500hd', 'chevrolet suburban',
       'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse',
       'chrysler 200', 'chrysler 300', 'chrysler town & country',
       'dodge charger', 'dodge dakota', 'dodge grand caravan',
       'ford econoline', 'ford edge', 'ford escape', 'ford expedition',
       'ford explorer', 'ford f-150', 'ford f-250', 'ford f-250 sd',
       'ford f-250 super duty', 'ford f-350 sd', 'ford f150',
       'ford f150 supercrew cab xlt', 'ford f250', 'ford f250 super duty',
       'ford f350', 'ford f350 super duty', 'ford focus', 'ford focus se',
       'ford fusion', 'ford fusion se', 'ford mustang',
       'ford mustang gt coupe 2d', 'ford ranger', 'ford taurus',
       'gmc acadia', 'gmc sierra', 'gmc sierra 1500', 'gmc sierra 2500hd',
       'gmc yukon', 'honda accord', 'honda civic', 'honda civic lx',
       'honda cr-v', 'honda odyssey', 'honda pilot', 'hyundai elantra',
       'hyundai santa fe', 'hyundai sonata', 'jeep cherokee',
       'jeep grand cherokee', 'jeep grand cherokee laredo',
       'jeep liberty', 'jeep wrangler', 'jeep wrangler unlimited',
       'kia sorento', 'kia soul', 'mercedes-benz benze sprinter 2500',
       'nissan altima', 'nissan frontier', 'nissan frontier crew cab sv',
       'nissan maxima', 'nissan murano', 'nissan rogue', 'nissan sentra',
       'nissan versa', 'ram 1500', 'ram 2500', 'ram 3500',
       'subaru forester', 'subaru impreza', 'subaru outback',
       'toyota 4runner', 'toyota camry', 'toyota camry le',
       'toyota corolla', 'toyota highlander', 'toyota prius',
       'toyota rav4', 'toyota sienna', 'toyota tacoma', 'toyota tundra',
       'volkswagen jetta', 'volkswagen passat'], dtype=object)

In [34]:
def replace_wrong_models(wrong_models, correct_model): 
    for wrong_model in wrong_models: 
        df['model'] = df['model'].replace(wrong_model, correct_model) 

duplicates = 'ford f150' 
name = 'ford f-150'

duplicates_two = 'ford f250'
name_two = 'ford f-250'

duplicates_three = 'ford f350'
name_three = 'ford f-350'

duplicates_four = 'ford f150 supercrew cab xlt'
name_four = 'ford f-150 supercrew cab xlt'

duplicates_five = ['ford f-250 sd', 'ford f250 super duty']
name_five = 'ford f-250 super duty'

duplicates_six = ['ford f-350 sd', 'ford f350 super duty']
name_six = 'ford f-350 super duty'

replace_wrong_models(duplicates, name)
replace_wrong_models(duplicates_two, name_two)
replace_wrong_models(duplicates_three, name_three)
replace_wrong_models(duplicates_four, name_four)
replace_wrong_models(duplicates_five, name_five)
replace_wrong_models(duplicates_six, name_six)

In [35]:
df_sorted.unique()

array(['acura tl', 'bmw x5', 'buick enclave', 'cadillac escalade',
       'chevrolet camaro', 'chevrolet camaro lt coupe 2d',
       'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze',
       'chevrolet equinox', 'chevrolet impala', 'chevrolet malibu',
       'chevrolet silverado', 'chevrolet silverado 1500',
       'chevrolet silverado 1500 crew', 'chevrolet silverado 2500hd',
       'chevrolet silverado 3500hd', 'chevrolet suburban',
       'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse',
       'chrysler 200', 'chrysler 300', 'chrysler town & country',
       'dodge charger', 'dodge dakota', 'dodge grand caravan',
       'ford econoline', 'ford edge', 'ford escape', 'ford expedition',
       'ford explorer', 'ford f-150', 'ford f-250', 'ford f-250 sd',
       'ford f-250 super duty', 'ford f-350 sd', 'ford f150',
       'ford f150 supercrew cab xlt', 'ford f250', 'ford f250 super duty',
       'ford f350', 'ford f350 super duty', 'ford focus', 'ford focus se',
       'ford fusion', 'ford fusion se', 'ford mustang',
       'ford mustang gt coupe 2d', 'ford ranger', 'ford taurus',
       'gmc acadia', 'gmc sierra', 'gmc sierra 1500', 'gmc sierra 2500hd',
       'gmc yukon', 'honda accord', 'honda civic', 'honda civic lx',
       'honda cr-v', 'honda odyssey', 'honda pilot', 'hyundai elantra',
       'hyundai santa fe', 'hyundai sonata', 'jeep cherokee',
       'jeep grand cherokee', 'jeep grand cherokee laredo',
       'jeep liberty', 'jeep wrangler', 'jeep wrangler unlimited',
       'kia sorento', 'kia soul', 'mercedes-benz benze sprinter 2500',
       'nissan altima', 'nissan frontier', 'nissan frontier crew cab sv',
       'nissan maxima', 'nissan murano', 'nissan rogue', 'nissan sentra',
       'nissan versa', 'ram 1500', 'ram 2500', 'ram 3500',
       'subaru forester', 'subaru impreza', 'subaru outback',
       'toyota 4runner', 'toyota camry', 'toyota camry le',
       'toyota corolla', 'toyota highlander', 'toyota prius',
       'toyota rav4', 'toyota sienna', 'toyota tacoma', 'toyota tundra',
       'volkswagen jetta', 'volkswagen passat'], dtype=object)

In [10]:
df.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
manufacturer        0
car_age          3619
dtype: int64

In [41]:
df_grouped = df.groupby('model')['model_year']

print(df_grouped)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A1142DC310>

In [43]:
df_count = df.groupby('model')['model_year'].count()
print(df_count)

model
acura tl             224
bmw x5               246
buick enclave        257
cadillac escalade    295
chevrolet camaro     392
                    ...
toyota sienna        308
toyota tacoma        769
toyota tundra        568
volkswagen jetta     485
volkswagen passat    324
Name: model_year, Length: 95, dtype: int64

In [47]:
df_median = df.groupby('model')['model_year'].median()
print(df_median)

model
acura tl             2007.0
bmw x5               2010.0
buick enclave        2012.0
cadillac escalade    2009.0
chevrolet camaro     2013.0
                      ...
toyota sienna        2008.0
toyota tacoma        2010.0
toyota tundra        2009.0
volkswagen jetta     2012.0
volkswagen passat    2013.0
Name: model_year, Length: 95, dtype: float64